<div id="form1">
<br />
<br />
<div id="link1">
<%= link_to 'Listing Leave', leave_forms_path %>||
<%= link_to 'Apply for Leave', new_leave_form_path %>
</div>
<div id="link">
<%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> ||
<%= current_user.email if user_signed_in? %>
</div>
<br />
<br />
<%= semantic_form_for(@leave_form) do |f| %>
  <%= f.inputs "Employee Details" do %>
  <%= f.input :employee_name %>
  <%= f.input :department %>
  <%= f.input :date_request, :include_blank => false, :start_year => 2011 %>
  <%= f.input :category_request, :collection => [["Unpaid","Unpaid"]], :wrapper_html => { :style => "display:none;" },:include_blank => false %>
  <%= f.input :reason_for_leave, :collection => [["Vacation / Personal Leave","Vacation / Personal Leave"],["Ill family Member","Ill family Member"],["Employee's Own Illness", "Employee's Own Illness"],["Care for new child", "Care for new child"]], :as => :radio, :label => " Reason for Leave ", :include_blank => false%>
  <%= f.inputs "Leave Date" %>
  <%= f.input :begining_date_of_leave, :label => "Date Begin" %>
  <%= f.input :ending_date_of_leave, :label => "Date End" %>
  <%= f.input :phone_no_during_leave, :input_html => { :style => "width: 120px"}, :label => "Contact Number" %>
  <%= f.input :special_circumstance, :input_html => { :rows => 4 }, :label => "Special Circumstance (Explain)" %>
  <%= f.input :status, :collection => LeaveForm.status_collection, :include_blank => false, :wrapper_html => { :style => "display:none;" } %>
  <% end %>
    <%= f.submit %>
<% end %>
</div>
