<div id="form1">

<h1>For Approval</h1><br />
<div id="link1">
<%= link_to 'for Approval', leave_forms_path %>||
<%= link_to 'Apply for Leave', new_leave_form_path %>
</div>
<div id="link">
<%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> ||
<%= current_user.email if user_signed_in? %>
</div>
<br />
<br />
<table>
  <tr>
    <th>Status</th>
    <th>Employee name</th>
    <!--<th>Department</th>
    <th>Date request</th>
    <th>Category request</th>
    <th>Reason for leave</th>-->
    <th>Begining date of leave</th>
    <th>Ending date of leave</th>
    <!--<th>Phone no during leave</th>
    <th>Special circumstance</th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leave_forms.each do |leave_form| %>
  <tr>
    <td><%= leave_form.status %></td>
    <td><%= leave_form.employee_name %></td>
    <!--<td><%= leave_form.department %></td>
    <td><%= leave_form.date_request %></td>
    <td><%= leave_form.category_request %></td>
    <td><%= leave_form.reason_for_leave %></td>-->
    <td><%= leave_form.begining_date_of_leave %></td>
    <td><%= leave_form.ending_date_of_leave %></td>
    <!--<td><%= leave_form.phone_no_during_leave %></td>
    <td><%= leave_form.special_circumstance %></td>-->
    <td><%= link_to 'Preview', leave_form %></td>
    <!--<td><%= link_to 'Edit', edit_leave_form_path(leave_form) %></td>
    <td><%= link_to 'Destroy', leave_form, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

<br />
</div>




