<div id="form1">
<br />
<br />
<div id="link1">
<%= link_to 'Listing Leave', leave_forms_path %>||
<%= link_to 'Apply for Leave', new_leave_form_path %>
</div>
<div id="link">
<%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> ||
<%= current_user.email if user_signed_in? %>
</div>
<br />
<br />
<h4>
  <b>EMPLOYEE NAME:</b>
  <i><%= @leave_form.employee_name %></i>
</h4>

<h4>
  <b>Department:</b>
  <i><%= @leave_form.department %></i>
</h4>

<h4>
  <b>Date request:</b>
  <i><%= @leave_form.date_request %></i>
</h4>

<h4>
  <b>Category request:</b>
  <i><%= @leave_form.category_request %></i>
</h4>

<h4>
  <b>Reason for leave:</b>
  <i><%= @leave_form.reason_for_leave %></i>
</h4>

<h4>
  <b>Begining date of leave:</b>
  <i><%= @leave_form.begining_date_of_leave %></i>
</h4>

<h4>
  <b>Ending date of leave:</b>
  <i><%= @leave_form.ending_date_of_leave %></i>
</h4>

<h4>
  <b>Phone no during leave:</b>
  <i><%= @leave_form.phone_no_during_leave %></i>
</h4>

<h4>
  <b>Special circumstance:</b>
  <i><%= @leave_form.special_circumstance %></i>
</h4>


<!--<%= link_to 'Edit', edit_leave_form_path(@leave_form) %> |
<%= link_to 'Back', leave_forms_path %> -->
</div>
