<div id="form">

<br />
<br />
<br />
<br />
<br />

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.inputs "Sign in" do %>
  <%= f.input :email,:input_html => { :style => "width: 320px"} %>
  <%= f.input :password, :input_html => { :style => "width: 320px"} %>
  <br />
  <%= f.submit "Sign in" %>
  <br />
  <%= render :partial => "devise/shared/links" %>
  <% end %>
<% end %>
</div>


